<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

    <!-- PhotoSwipe Dynamic Caption Plugin -->
    <script src="/assets/js/photoswipe-dynamic-caption-plugin.umd.min.js"></script>
    <!-- (Optional) Your PhotoSwipe plugin initialization script -->
    <script src="/assets/js/photoswipe-init.js"></script>

  </body>
</html>