<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="{{ site.baseurl }}/assets/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/photowall/css/main.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/photowall/css/custom.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/photowall/css/fontawesome-all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic">
    <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/photowall/css/noscript.min.css" /></noscript>
</head>
<body class="is-preload">
    {{ content }}
    <script src="{{ site.baseurl }}/assets/photowall/js/jquery.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/jquery.poptrox.modified.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/browser.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/breakpoints.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/util.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/exif.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/photowall/js/main.min.js" defer></script>
</body>
</html>
